// Rename this file to secrets.h and fill in your credentials
#pragma once

#define SECRET_WIFI_SSID     "YOUR WIFI SSID"
#define SECRET_WIFI_PASS     "YOUR WIFI PASSWORD"

#define SECRET_INFLUXDB_URL  "http://192.168.1.100:8086"
#define SECRET_INFLUXDB_TOKEN "YOUR_INFLUXDB_TOKEN"
#define SECRET_INFLUXDB_ORG  "YOUR_ORG"
#define SECRET_INFLUXDB_BUCKET "YOUR_BUCKET"
